#vertical-nav-inner

  ul
    > li
      cursor: pointer
      padding-left: 50px
      transition: background .2s ease-in-out

      &:hover
        background: rgba(0, 0, 0, 0.1)

      a.nav-item
        display: flex
        flex-direction: row
        white-space: nowrap
        width: 100%
        color: rgba(255, 255, 255, 0.7)
        height: 49px
        align-items: center
        padding-right: 16px
