#vertical-nav-inner

  ul
    > vertical-nav-node
      li
        cursor: pointer
        padding-left: 50px
        transition: background .2s ease-in-out

        &:hover
          background: rgba(0, 0, 0, 0.1)
        &.collapsed
          ul
            display: none

        a.nav-item
          display: flex
          flex-direction: row
          white-space: nowrap
          width: 100%
          color: rgba(255, 255, 255, 0.7)
          height: 49px
          align-items: center
          padding-right: 16px
